.pagination {
  width: 23%;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
  display: flex;
  justify-content: space-between;

  .button {
    cursor: pointer;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    color: #3b3b3b;
    font-weight: 700;

    &:hover {
      background-color: #cecdcd;
      transform: scale(1.05);
    }
  }
}
