.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 50px;
  min-height: 80vh;
  &__card {
    width: 45%;
    border: 2px solid #fff;
    display: flex;
    background-color: rgb(78, 78, 78);
    justify-content: space-between;
    &-img {
      width: 40%;
    }
    &-content {
      width: 50%;
      color: #fff;
    }
    &-title {
      margin-bottom: 0;
      font-size: 30px;
    }
    &-status {
      margin: 0;
      color: #cecdcd;
      font-size: 18px;
    }
    &-text {
      margin-bottom: 0;
      color: #aba9a9;
      font-size: 18px;
    }
    &-description {
      margin: 0;
      font-size: 18px;
    }
  }
}
