.list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 50px;
  &__not-found {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
  }
  &__card {
    width: 52rem;
    border: 2px solid #fff;
    display: flex;
    background-color: rgb(78, 78, 78);
    justify-content: space-between;
    @media (max-width: 600px) {
      width: 45rem;
    }
    @media (max-width: 450px) {
      width: 40rem;
    }
    &-img {
      width: 40%;
      @media (max-width: 600px) {
        width: 45%;
      }
    }
    &-content {
      width: 50%;
      color: #fff;
    }
    &-title {
      margin-bottom: 0;
      font-size: 3rem;
      @media (max-width: 650px) {
        font-size: 2.4rem;
      }
      @media (max-width: 450px) {
        font-size: 2rem;
      }
    }
    &-status {
      margin: 0;
      color: #cecdcd;
      font-size: 18px;
      @media (max-width: 600px) {
        font-size: 16px;
      }
    }
    &-text {
      margin-bottom: 0;
      color: #aba9a9;
      font-size: 18px;
      @media (max-width: 600px) {
        font-size: 13px;
      }
    }
    &-description {
      margin: 0;
      font-size: 18px;
    }
  }
}
