.lineLabel {
  width: 45%;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
}
.lineLabelCheckbox {
  width: 45%;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 400;
}
.lineInput {
  width: 96%;
  padding: 5px;
}

.lineFile {
  display: inline-block;
  margin: 0 auto;
  margin-top: 10px;
  margin-right: 10px;
}
